<div class="container">
  <h1><%= @cocktail.name %></h1>
  <br>
  <br>

  <% @cocktail.doses.each do |dose| %>
    <%= dose.ingredient.name %>
  <%= dose.description %>
<% end %>
  <%= link_to "Back", cocktails_path, class: "btn btn-primary"%>
</div>

